[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"

[packages]
django = "*"
django-allauth = "*"
requests-oauthlib = "*"
discord-py = "*"

[requires]
python_version = "3.8"
