{% extends "base.html" %}

{% block title %}Register for PyOhio Chat: Error{% endblock %}

{% block content %}

<div class="content">
    <h1 class="title">500 - Internal Server Error</h1>
    <div class="box">
        <pre>Error details have been logged.</pre>
        <p><a href="{% url "registrations:index" %}" target="_blank" class="button is-link">Return to Link Instructions</a></p>
    </div>
    <p>Please try again. If the problem persists, please email organizers@pygotham.com for help.</p>
</div>
{% endblock %}