{% extends "base.html" %} {% block title %}PyOhio Registration Not Required{% endblock %}

{% block content %}
<div class="content">
  <h1 class="title">No Registration Required</h1>
  <div class="box">
    <h2 class="subtitle">1. Register for PyOhio</h2>
    <p>
      No registration is required for PyOhio 2023! Visit our website for the
      video streaming link, instructions for accessing Discord, and more
      information.
    </p>
    <p>
      <a
        href="https://www.pyohio.org/2023"
        target="_blank"
        class="button is-link"
        >PyOhio Website</a
      >
    </p>
  </div>
</div>
{% endblock %}
