{% extends "base.html" %}

{% block title %}Register for PyOhio Chat: Success!{% endblock %}

{% block content %}

<div class="content">
    <h1 class="title">Successfully Registered</h1>
    <div class="box">
        <h2 class="subtitle">Detils</h2>
        <p>{{ joined_username }} ({{ joined_email}}) added to PyOhio with the following roles:<br/>
            <ul>
                <li>Role 1</li>
            </ul>
        </p>
        <p><a href="https://discord.com/channels/715432774366003210/" class="button is-link">Chat on PyOhio Discord Now!</a></p>
    </div>
    <p>If you have any trouble with this process, please email info@pyohio.org for help.</p>
</div>
{% endblock %}